<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>1F923204-759F-41AB-8595-2C8B1F454357</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>zh</string>
			<key>text</key>
			<string>知乎</string>
			<key>url</key>
			<string>https://www.zhihu.com/search?q={query}</string>
		</dict>
		<key>291D47F0-8BBA-47DC-9D42-C7A6D95CB6EB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bili</string>
			<key>text</key>
			<string>B站</string>
			<key>url</key>
			<string>https://search.bilibili.com/all?keyword={query}</string>
		</dict>
		<key>294A1B7E-05B7-4614-943B-CCA01AD29534</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wx</string>
			<key>text</key>
			<string>微信搜索</string>
			<key>url</key>
			<string>https://weixin.sogou.com/weixin?type=2&amp;query={query}</string>
		</dict>
		<key>5259FC8A-96B2-425E-8543-E4997F21A6D2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bd</string>
			<key>text</key>
			<string>百度</string>
			<key>url</key>
			<string>https://www.baidu.com/s?ie=utf-8&amp;f=8&amp;rsv_bp=1&amp;ch=&amp;tn=baiduerr&amp;bar=&amp;wd={query}</string>
		</dict>
		<key>BF1F0089-915D-456B-B647-03BE3D3A88D2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>macs</string>
			<key>text</key>
			<string>macappstore</string>
			<key>url</key>
			<string>macappstore://ax.search.itunes.apple.com/WebObjects/MZSearch.woa/wa/search?q={query}</string>
		</dict>
		<key>C8AAC4E5-B78E-4BA7-BCC3-EA8402796198</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>csdn</string>
			<key>text</key>
			<string>CSDN</string>
			<key>url</key>
			<string>https://www.baidu.com/s?wd=site:blog.csdn.net%20{query}</string>
		</dict>
	</dict>
</dict>
</plist>
